{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "node": true,
        "uglify": true
      },
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread"
  ]
}